.stepSection {
  color: #000;
}

#deposit_screen {
  max-height: 226px;
}

.stepSection_heroTitle {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  max-width: 680px;
  text-align: center;
  color: var(--red-color);
  margin-bottom: 50px;
}

.stepSection_stepsContainer {
  border-radius: 20px;
}

.stepSection_stepWrapper {
  display: flex;
  justify-content: space-between;
}

.stepSection_stepWrapper.step1 {
  margin: 0 0 30px;
}

.stepSection_stepWrapper.step2 {
  flex-direction: row-reverse;
  margin: 30px 0 30px;
}

.stepSection_stepWrapper.step3 {
  margin: 30px 0 0;
}

.stepSection_textWrapper {
  width: 100%;
}

.step1 .stepSection_textWrapper {
  max-width: 355px;
  padding: 10px 0 0;
  margin-right: 10px;
}

.step2 .stepSection_textWrapper {
  max-width: 355px;
  padding: 10px 0 0;
  margin-left: 10px;
}

.step3 .stepSection_textWrapper {
  max-width: 410px;
  padding: 10px 0 0;
  margin-right: 30px;
}

.arrowDown {
  text-align: center;
  animation: arrows 1.5s infinite;
}

@keyframes arrows {
  to {
    transform: translateY(25px);
    opacity: 0;
  }
}

p.stepSection_textSubTitle {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--black-color);
  opacity: 0.5;
  text-transform: uppercase;
}

.stepSection_textTitle {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  color: var(--black-color);
  margin-bottom: 10px;
}

p.stepSection_textDescriprion {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--second-black);
}

.stepSection_cardWrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.step1 .stepSection_cardWrapper {
  max-width: 600px;
}

.step2 .stepSection_cardWrapper {
  max-width: 600px;
}

.step3 .stepSection_cardWrapper {
  max-width: 300px;
  padding: 0;
}

.stepSection_descriptionContainer {
  width: 100%;
  margin-right: 5px;
}

.stepSection_descriptionTextWrapper {
  background: rgba(56, 255, 24, 0.02);
  border: 2px solid var(--green-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.stepSection_descriptionTextWrapper:not(:first-of-type) {
  margin-top: 5px;
}

p.stepSection_descriptionText {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--second-black);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.stepSection_descriptionTextWrapper.part1 {
  height: 48%;
}

.stepSection_descriptionTextWrapper.part2 {
  height: 49%;
}

.step2 .stepSection_descriptionTextWrapper {
  height: 99%;
  width: 100%;
}

.stepSection_formContainer {
  max-width: 274px;
  position: relative;
}

.formVector1 {
  position: absolute;
  top: 35%;
  left: -28px;
  animation: bounce 1600ms infinite;
}

.formVector2 {
  position: absolute;
  top: 59%;
  left: -28px;
  animation: bounce 1600ms infinite;
}

.depVector {
  position: absolute;
  top: 67%;
  left: -34px;
  z-index: 9;
  animation: bounce 1600ms infinite;
}

@keyframes bounce {
  50% {
    transform: translateX(5px);
  }
}

@media all and (max-width: 1024px) {
  .stepSection_descriptionText {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 767px) {
  .step2 .stepSection_descriptionTextWrapper {
    width: 100%;
  }
  .stepSection_stepWrapper {
    flex-direction: column;
    align-items: center;
  }
  .step1 .stepSection_textWrapper {
    text-align: center;
    max-width: 100%;
    margin-right: 0;
    padding: 0;
  }
  .step2 .stepSection_textWrapper {
    text-align: center;
    margin-left: 0;
    padding: 0;
    max-width: 100%;
  }
  .step3 .stepSection_textWrapper {
    text-align: center;
    max-width: 100%;
    margin-right: 0;
    padding: 0;
  }
  .stepSection_stepWrapper.step2 {
    flex-direction: column;
  }
  .stepSection_stepWrapper.step3 {
    padding: 0;
  }
  .stepSection_cardWrapper {
    margin-top: 10px;
  }
  p.stepSection_descriptionText {
    font-size: 12px;
    line-height: 14px;
  }
  .stepSection_heroTitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .stepSection_stepWrapper.step1 {
    margin: 0 0 20px;
  }
  .stepSection_stepWrapper.step2 {
    margin: 15px 0 20px;
  }
  .stepSection_stepWrapper.step3 {
    margin: 25px 0 20px;
  }
  .stepSection_stepsContainer {
    padding: 0;
  }
  .stepSection_textSubTitle {
    font-size: 14px;
    line-height: 16px;
  }
  .stepSection_descriptionTextWrapper.part1 {
    height: 48%;
  }
  .stepSection_descriptionTextWrapper.part2 {
    height: 50%;
  }
  .stepSection_formContainerImg {
    width: 190px;
    height: 99%;
  }
  @keyframes arrows {
    to {
      transform: translateY(15px);
      opacity: 0;
    }
  }
  .depVector {
    width: 40px;
    left: -35px;
  }
  .stepSection_descriptionText {
    font-size: 12px;
    line-height: 15px;
    padding: 0 10px;
  }
}

@media all and (max-width: 460px) {
  .arrowDown img {
    width: 100%;
    max-width: 200px;
  }
  .depVector {
    top: 65%;
  }
}

@media all and (max-width: 400px) {
  p.stepSection_textSubTitle {
    font-size: 12px;
    line-height: 16px;
  }
  .stepSection_textTitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
  p.stepSection_textDescriprion {
    font-size: 16px;
    line-height: 24px;
  }
  .step3 .stepSection_cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stepSection_stepManagerContainer img {
    width: 225px;
    height: 225px;
  }
}